@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
  color: #262626;
}

.image-order{
  background-image: url(../components/assets/orden.png);
  height: 250px;
  width: 245px;
  margin: auto;
}

#mainContainer{
  padding-top: 20%;
}